<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        

        <app-characters [characters]="characters"></app-characters>
    </div>
    
    <div class="col">
        <h3>Agregar</h3>
        <hr>
        <form (ngSubmit)="add()">
            <input 
                class="row"
                type="text" 
                placeholder="Name" 
                name="name"
                [(ngModel)]="lastCharacter.name"
                >
                
            <br>
            <input 
                class="row"
                type="number" 
                placeholder="Power"
                [(ngModel)]="lastCharacter.power"
                name="power"
            >
            <br>
            <button>Add</button>
        </form>
    </div>
</div>